# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: osx-arm64
# created-by: conda 25.5.1
accelerate=1.8.1=pypi_0
aiofiles=23.2.1=pypi_0
aiohappyeyeballs=2.6.1=pypi_0
aiohttp=3.12.13=pypi_0
aiosignal=1.3.2=pypi_0
altair=5.5.0=pypi_0
annotated-types=0.7.0=pypi_0
anyio=4.9.0=pypi_0
attrs=25.3.0=pypi_0
blas=1.0=openblas
blinker=1.9.0=pypi_0
bottleneck=1.4.2=py312ha86b861_0
bzip2=1.0.8=h80987f9_6
ca-certificates=2025.2.25=hca03da5_0
cachetools=6.1.0=pypi_0
certifi=2025.6.15=pypi_0
cffi=1.17.1=pypi_0
charset-normalizer=3.4.2=pypi_0
click=8.2.1=pypi_0
contourpy=1.3.2=pypi_0
cycler=0.12.1=pypi_0
diffusers=0.34.0=pypi_0
discord=2.3.2=pypi_0
discord-py=2.5.2=pypi_0
distro=1.9.0=pypi_0
einops=0.8.1=pypi_0
expat=2.7.1=h313beb8_0
fastapi=0.115.14=pypi_0
ffmpy=0.6.0=pypi_0
filelock=3.18.0=pypi_0
fire=0.7.0=pypi_0
flux=0.0.post58+g1371b2b=pypi_0
fonttools=4.58.4=pypi_0
frozenlist=1.7.0=pypi_0
fsspec=2025.5.1=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
gradio=5.13.2=pypi_0
gradio-client=1.6.0=pypi_0
h11=0.16.0=pypi_0
hf-xet=1.1.5=pypi_0
httpcore=1.0.9=pypi_0
httpx=0.28.1=pypi_0
huggingface-hub=0.33.1=pypi_0
idna=3.10=pypi_0
importlib-metadata=8.7.0=pypi_0
invisible-watermark=0.2.0=pypi_0
jinja2=3.1.6=pypi_0
jiter=0.10.0=pypi_0
jsonschema=4.24.0=pypi_0
jsonschema-specifications=2025.4.1=pypi_0
kiwisolver=1.4.8=pypi_0
libcxx=17.0.6=he5c5206_4
libffi=3.4.4=hca03da5_1
libgfortran=5.0.0=11_3_0_hca03da5_28
libgfortran5=11.3.0=h009349e_28
libopenblas=0.3.29=hea593b9_0
llvm-openmp=17.0.6=h2f17746_0
markdown-it-py=3.0.0=pypi_0
markupsafe=2.1.5=pypi_0
matplotlib=3.10.3=pypi_0
mdurl=0.1.2=pypi_0
mflux=0.9.0=pypi_0
mlx=0.26.1=pypi_0
mpmath=1.3.0=pypi_0
multidict=6.6.3=pypi_0
narwhals=1.45.0=pypi_0
ncurses=6.4=h313beb8_0
networkx=3.5=pypi_0
numexpr=2.10.1=py312h5d9532f_0
numpy=2.3.1=py312hc3f7a0e_0
numpy-base=2.3.1=py312he1c501e_0
openai=1.93.0=pypi_0
opencv-python=4.11.0.86=pypi_0
openssl=3.0.16=h02f6b3c_0
orjson=3.10.18=pypi_0
packaging=25.0=pypi_0
pandas=2.2.3=py312hcf29cfe_0
piexif=1.1.3=pypi_0
pillow=10.4.0=pypi_0
pip=25.1=pyhc872135_2
platformdirs=4.3.8=pypi_0
propcache=0.3.2=pypi_0
protobuf=6.31.1=pypi_0
psutil=7.0.0=pypi_0
pyarrow=20.0.0=pypi_0
pycparser=2.22=pypi_0
pydantic=2.11.7=pypi_0
pydantic-core=2.33.2=pypi_0
pydeck=0.9.1=pypi_0
pydub=0.25.1=pypi_0
pygments=2.19.2=pypi_0
pynacl=1.5.0=pypi_0
pyparsing=3.2.3=pypi_0
python=3.12.11=h421de30_0
python-dateutil=2.9.0post0=py312hca03da5_2
python-multipart=0.0.20=pypi_0
python-tzdata=2025.2=pyhd3eb1b0_0
pytz=2024.1=py312hca03da5_0
pywavelets=1.8.0=pypi_0
pyyaml=6.0.2=pypi_0
readline=8.2=h1a28f6b_0
referencing=0.36.2=pypi_0
regex=2024.11.6=pypi_0
requests=2.32.4=pypi_0
rich=14.0.0=pypi_0
rpds-py=0.26.0=pypi_0
ruff=0.6.8=pypi_0
safehttpx=0.1.6=pypi_0
safetensors=0.5.3=pypi_0
semantic-version=2.10.0=pypi_0
sentencepiece=0.2.0=pypi_0
setuptools=72.1.0=py312hca03da5_0
shellingham=1.5.4=pypi_0
six=1.17.0=py312hca03da5_0
smmap=5.0.2=pypi_0
sniffio=1.3.1=pypi_0
sqlite=3.45.3=h80987f9_0
starlette=0.46.2=pypi_0
streamlit=1.46.1=pypi_0
streamlit-drawable-canvas=0.9.3=pypi_0
streamlit-keyup=0.3.0=pypi_0
sympy=1.13.1=pypi_0
tenacity=9.1.2=pypi_0
termcolor=3.1.0=pypi_0
tk=8.6.14=h6ba3021_1
tokenizers=0.21.2=pypi_0
toml=0.10.2=pypi_0
tomlkit=0.13.3=pypi_0
torch=2.6.0=pypi_0
torchvision=0.21.0=pypi_0
tornado=6.5.1=pypi_0
tqdm=4.67.1=pypi_0
transformers=4.53.0=pypi_0
typer=0.16.0=pypi_0
typing-extensions=4.14.0=pypi_0
typing-inspection=0.4.1=pypi_0
tzdata=2025b=h04d1e81_0
urllib3=2.5.0=pypi_0
uv=0.7.17=pypi_0
uvicorn=0.35.0=pypi_0
websockets=14.2=pypi_0
wheel=0.45.1=py312hca03da5_0
xz=5.6.4=h80987f9_1
yarl=1.20.1=pypi_0
yt-dlp=2025.6.30=pypi_0
zipp=3.23.0=pypi_0
zlib=1.2.13=h18a0788_1
